.speciality {
  max-width: 90vw;
  /* border: 1px solid red; */
  display: flex; 
  flex-direction: column;
  margin: 50px 0;
  align-items: center;
  /* border: 1px solid red; */
}

.speciality-contents {
  text-align: center;
  /* width: 500px; */
  /* border: 1px solid red; */
}
.speciality-contents h1{
  color: #1F2937;
}
.speciality-contents p{
  width: 95vw;
}

.sp-header {
  font-size: max(2vw , 20px);
  margin: 20px;
}

.hero {
  width: 80vw;
  display: flex;
  align-items: center;
  margin: 20px;
  /* border: 1px solid red; */
  justify-content: space-between;
  overflow-x: scroll;
}
.hero::-webkit-scrollbar {
  display: none;
}
.specials {
  text-align: center;
}
.special-image {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  /* margin: 10px; */
}




@media (max-width) {
  
}